body {
	font-size: 16px;
	font-family: 'Oswald', sans-serif;
}

main {
	max-width: 750px;
	margin: 0 auto;
	display: grid;
	grid-template-columns: 1fr;
}

header {
	background-color: rgb(255,164,0);
	color: navy;
	font-size: 1.5rem;
	text-align: center;
	border-radius: 25px;
}

header h2 {
	font-size: 1.4rem;
}

main section h3 {
	color: navy;
	text-align: center;
	font-size: 2rem;
	font-weight: bold;
}

main section h4 {
	font-size: .8rem;
	text-align: center;
}

main section {
	margin: 0.5rem;
	border: 1px solid #bbb;
	padding: 1rem;
	background-color: #eee;
	border-radius: 25px;
}

.mainimage {
	box-shadow: 0 0 20px #222;
	display: block;
	margin: auto;
}

main section p {
	display: block;
	margin: auto;
	padding: 1rem;
	border: 2rem;
	font-size: 1.1rem;
	line-height: 1.6;
}

footer {
	background-color: rgb(255,164,0);
	color: navy;
	font-size: .8rem;
	text-align: center;
	padding: 1.5rem;
	border-radius: 25px;
}