body {
	font-size: 16px;
	font-family: 'Oswald', sans-serif;
}

main {
	max-width: 600px;
	margin: 0 auto;
	display: grid;
	grid-template-columns: 1fr;
	font-size: 0.8rem;
}

header h1 {
	background-color: rgb(255,164,0);
	color: navy;
	font-size: 2.5rem;
	text-align: center;
	padding: 2rem;
}

main section h2 {
	color: navy;
	text-align: center;
	font-size: 2rem;
	font-weight: bold;
}

main section {
	margin: 0.5rem;
	border: 1px solid #bbb;
	padding: 0 1rem;
	background-color: rgb(255,164,0);
}

.mainimage {
	box-shadow: 0 0 20px #222;
	display: block;
	margin: auto;
}

main section p {
	display: block;
	margin: auto;
	padding-top: 1rem;
	padding-bottom: 1.5rem;
	border: 2rem;
	font-size: 1.2rem;
}

footer {
	background-color: rgb(255,164,0);
	color: navy;
	font-size: 2.5rem;
	text-align: center;
	padding: 1.5rem;
}