* {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: 'Oswald', sans-serif;
    /* box-sizing: border-box; */
}

body {
    max-width: 800px;
    margin: 0 auto;
    padding: 25px;
}

header, main, footer {
    background-color: #ffa400;
    color: #010080;
}

header {
    border-radius: 25px 25px 0 0;
}

header h1 {
    font-size: 2rem;
    text-align: center;
    padding-top: 15px;
}

h1 {
    font-size: 2rem;
    margin: 0;
}

h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1.2rem;
}

header img {
    visibility: hidden;
}

nav, footer {
    padding: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

nav a {
    flex: 1 1 auto;
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: bolder;
    padding: 10px;
}

nav a:hover {
    color: #EAF6FF;
    background-color: #010080;
    border-radius: 15px;
}

.information h1 {
    padding-left: 25px;
    padding-bottom: 25px;
}

.information h2 {
    color: #EAF6FF;
    background-color: #010080;
    padding: 25px 25px 0 25px;
}

.information p {
    font-size: 1.1rem;
    padding-top: 15px;
    padding-left: 25px;
}

.highlight {
    color: #EAF6FF;
    background-color: #010080;
    padding: 25px;
}

.highlight li {
    list-style: none;
}

.highlight li::before {
    content: '✅ ';
}

.colors {
    padding: 25px;
    background-color: #EAF6FF;
    color: #0C120C;
}

.color_grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
    margin: auto;
    background-color: #EAF6FF;
    padding-bottom: 25px;
}

.color_card {
    border: 5px solid #010080;
    border-radius: 10px;
    width: 12rem;
    height: 15rem;
    text-align: center;
    box-shadow: 2px 2px 4px #bbb;
}

.color_card h3 {
    padding: 25px 0;
}

#navy {
    background-color: #010080;
    color: #EAF6FF;
}

#orange {
    background-color: #ffa400;
    color: #010080;
}

#alice_blue {
    background-color: #EAF6FF;
    color: #0C120C;
}

#maximum_green {
    background-color: #679436;
    color: #EAF6FF;
}

#black_chocolate {
    background-color: #0C120C;
    color: #EAF6FF;
}

.typography {
    padding: 25px;
    line-height: 2;
}

footer {
    border-radius: 0 0 25px 25px;
}

footer span {
    font-size: .8rem;
}